<div class="container-fluid">
<div class="ui-g">
 <div class="ui-g-12 ui-md-12 ui-lg-12">
		 <div class="container">
	
			<div class="panel panel-warning">
				<div class="panel-heading">
	
					<h3 class="panel-title text-center">
					<div class="ui-g">
					  <div class="ui-g-12 ui-lg-12 ui-md-12">
						<b> In Time </b>
						</div>
						</div>
					</h3>
				</div>
				<div class="panel-body">
				<div class="ui-g">
					  <div class="ui-g-12 ui-lg-12 ui-md-12">
				<p-messages [(value)]="msgs"></p-messages>
				</div>
				</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		</div>		
				
			
		 