<div class="container-fluid" >
<div class="container">
			<div class="panel panel-warning">
				<div class="panel-heading">
				<h3 class="panel-title text-center">
						<b> Modify  Resource </b>
					</h3>
				</div>
				<div class="panel-body">
                    <form #f="ngForm"  >
							<p-messages [(value)]="msgs"></p-messages> 
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group col-lg-6">
							<label
								for="empList">EmployeeName<sup style="color: red;">*</sup>: </label><br> 
							 <p-dropdown [options]="result" [(ngModel)]="employeeName"  name="employeeName" (ngModelChange)="OnSelect(this.employeeName)" [style]="{'width':'100%'}"></p-dropdown>{{result}}	
						</div>
						<div class="form-group col-lg-6">
				   <label for="designation">Modify Designation<sup style="color: red;">*</sup>:</label><br>
				   <select class="form-control"  id="desg"  name="designation" [(ngModel)]="designation" #desg="ngModel" required>
				   <option value="null"></option>
				   <option value="Application Development Associate">Application Development Associate</option>
				   <option value="Software Analyst">Software Analyst</option>
				   <option value="Software Senior Analyst">Software Senior Analyst</option>
				   <option value="Team Lead">Team Lead</option>
				   <option value="Associate Manager">Associate Manager</option>
				   <option value="Manager">Manager</option>
				   <option value="SeniorManager">Senior Manager</option>
				   </select><br>
				    </div>
               </div>
               
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              		<div class="form-group col-lg-6">
				    <label for="skills">Modify Skills<sup style="color: red;">*</sup>: </label><br>
				    <input type="text" autocomplete="off" id="skill" class="form-control"   name="skills" pattern="[a-zA-Z][a-zA-Z ]+"
					[(ngModel)]="skills" #skill="ngModel" required>
					<div [hidden]="!skill.hasError('pattern')"><small><b>Enter a valid Skill</b></small></div>
               		</div>
					<div class="form-group col-lg-6">
							<label
								for="supervisorName">Modify the Supervisor Name<sup style="color: red;">*</sup>:
							</label><br> 
								<p-dropdown [options]="supervisorlist"  name="supervisorName" [(ngModel)]="supervisorName" [style]="{'width':'100%'}" ></p-dropdown>
               		</div>
               </div>
               
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <div class="form-group col-lg-6 col-md-6">
							<label
								for="isAdmin">Admin Preference <sup style="color: red;">*</sup>:
							</label><br> 
							<select [disabled]="updated" class="form-control" style="width=370px" name="isAdmin" [(ngModel)]="isAdmin" required>
								<option value="null"></option>
								<option value="Yes">Yes</option>
								<option value="No">No</option>
							</select><br>
				</div>
						
			    <div class="form-group col-lg-6 col-md-6">
							<label
								for="isAdmin">Supervisor Preference <sup style="color: red;">*</sup>:
							</label><br> <select class="form-control" style="width=370px" name="isSupervisor" [(ngModel)]="isSupervisor" required>
								<option value="null"></option>
								<option value="Yes">Yes</option>
								<option value="No">No</option>
							</select><br>
				</div>
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group col-lg-6 col-md-6">
							 <label
								for="isActive">Whether the resource is active <sup style="color: red;">*</sup>:
							</label><br> <select class="form-control" style="width=370px" name="isActive" [(ngModel)]="isActive" required>
								<option value="null"></option>
								<option value="Yes">Yes</option>
								<option value="No">No</option>
							</select><br>
						</div>
						<div class="form-group col-lg-6 col-md-6">
							 <label
								for="report">Include the resource in report<sup style="color: red;">*</sup>:
								 </label><br>
								 <select class="form-control" style="width=370px" name="report" [(ngModel)]="report" required>
								<option value="null"></option>
								<option value="Yes">Yes</option>
								<option value="No">No</option>
							</select><br>
						</div>
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group col-lg-6 col-md-6">
							<label
								for="isInclude" class="control-label">Report Reference <sup
								style="color: red;">*</sup>:
							</label><br> <select class="form-control" style="width=370px" name="isInclude" [(ngModel)]="isInclude" required>
							<option value="null"></option>
								<option value="Yes">Yes</option>
								<option value="No">No</option>
							</select><br>
						</div>
						<div class="form-group col-lg-6 col-md-6">
							<label for="role">Role Preference<sup
								style="color: red;">*</sup>: </label><br> 
								 <select class="form-control" style="width=370px" name="role" [(ngModel)]="role" required>
								<option value="null"></option>
								<option value="Tester">Tester</option>
								<option value="Developer">Developer</option>
								<option value="Business Analyst">Business Analyst</option>
							</select><br>
						</div>
				</div>
						
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group col-lg-6">
							<div align="center"></div>
							<br>
							<button type="submit" class="btn btn-success" (click)="saveaddresource(f.value)" routerLinkActive="active">Edit</button>
							&nbsp;&nbsp;&nbsp; <input type="reset" value="Clear"
								class="btn btn-warning" (click)="clear()" />
						</div>
				</div>
						</form>
				</div>
				
			</div>
		</div>
		</div>
	
