<!-- <div class="container-fluid">
<div class="container">
	 <div class="panel panel-warning">
		  <div class="panel-heading">
			   <h3 class="panel-title text-center"><b> Block Public Holidays </b></h3>
			
		  </div>
<br>
<br>
<p-messages [(value)]="msgs"></p-messages>
<form #f ="ngForm" >

<div class="ui-g">
     <div class="col-xs-3 col-sm-4 col-md-3 col-lg-3">
          <label for="id">Enter the Public holidays :</label>
     </div>
     
     <div class=" col-xs-9 col-sm-4 col-md-3 col-lg-3">
     <div class="ui-g ui-fluid">
     <div class="ui-g-12">
     <p-calendar name="multiple" [(ngModel)]="multiple" (ngModelChange)="onChange($event)" selectionMode="multiple" readonlyInput="true" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true"  [disabledDays]="[0,6]"  
           readonlyInput="true"></p-calendar>
           
           <p-calendar  name="multiple" [(ngModel)]="multiple"  (ngModelChange)="onOptionClick($event)" onUnselect="onUnselects($event)" selectionMode="multiple" readonlyInput="true" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true"  [disabledDays]="[0,6]"  
           readonlyInput="true"></p-calendar> 

           
          </div>
         </div>
         </div>
</div>

       <div class="panel1 panel-body">
				<div class="col-sm-12" align="center">
					<button type="button" class="btn btn-success" [disabled]="isVacation" (click)="Savepublicholidays(multiple); f.reset()">
						Submit
					</button>
				</div>
			</div>
	
	</form>

</div>
</div>

 -->
 
 
 <div class="container-fluid">

<div class="container">

<div class="panel panel-warning">

<div class="panel-heading">

<h3 class="panel-title text-center"><b> Block Public Holidays </b></h3>

</div>

<br>

<br>

<p-messages [(value)]="msgs"></p-messages>

<form #f ="ngForm" >

<div class="ui-g">

<div class="col-xs-3 col-sm-4 col-md-3 col-lg-3">

<label for="id">Enter the Public holidays :</label>

</div>

<div class=" col-xs-9 col-sm-4 col-md-3 col-lg-3">

<div class="ui-g ui-fluid">

<div class="ui-g-12">

<p-calendar name="multiple" [(ngModel)]="multiple" (ngModelChange)="onOptionClick($event)" onUnselect="onUnselects($event)" selectionMode="multiple" readonlyInput="true" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true" [disabledDays]="[0,6]"

readonlyInput="true"></p-calendar>

</div>

</div>

</div>

</div>

<div class="panel1 panel-body">

<div class="col-sm-12" align="center">

<button type="button" class="btn btn-success" [disabled]="isVacation" (click)="Savepublicholidays(multiple);onUnselects($event);f.reset()">

Submit

</button>

</div>

</div>

</form>

</div>

</div>


 