<div class="container-fluid">

<div class="container">
                     <div *ngIf="showRestpassword" class="panel panel-warning">
                           <div class="panel-heading">
                           <h3 class="panel-title text-center">
                                         <b> Reset Password </b>
                                  </h3>
                           </div>
                           <div class="panel-body">
                    <form #f="ngForm" (keyup.enter)="resetpasswordhome(f.value)" >
                                                <p-messages [(value)]="messages"></p-messages> 
                                         
					<label>Employee Id <sup style="color: red;">*</sup>:</label><br>
					<input type="text"
					 class="form-control"id="empid" required ng autocomplete="off" onCopy="return false"  onCut="return false"  onPaste="return false" pattern="[0-9]*" maxlength="8"
				    [(ngModel)]="employeeId" name="employeeId" #empid="ngModel">
					<div [hidden]="!empid.hasError('pattern')"><small><b>Enter a valid EmployeeId</b></small></div>	


                                         <div class="form-group col-lg-6">
                                                <div align="center"></div>
                                                <br>
                                                <button type="submit" class="btn btn-success" [disabled]="!f.form.valid" (click)="resetpasswordhome(f.value)" >Submit</button>
                                                &nbsp;&nbsp;&nbsp; <button [routerLink]="['/employee/logout']" type="submit" class="btn btn-warninuug">Logout</button>
                                         </div>
                                         </form>
                           </div>
                           
                     </div>
              
              
              
              <div *ngIf="showQuestions" class="panel panel-warning">
		  <div class="panel-heading">
				   <h3 class="panel-title text-center"><b>Security Questions</b></h3>
					   	<h4 class="panel-title text-right"></h4>
			  </div>
		 <div class="panel-body">
				     <p-messages [(value)]="msgs"></p-messages>	
				   <div id="showingQstions">
				    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 example" *ngFor="let questions of question">
					   <label>{{questions}} <sup style="color: red;">*</sup>:</label> 
						<input type="text" id ="ans" class="form-control" ng autocomplete="off" onCopy="return false"  onCut="return false"  onPaste="return false" required/>
	               </div>
	             </div>
	            
	              <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
					   <button type="submit" class="btn btn-success" routerLinkActive="active" (click)="Submit()">Submit</button>
					   &nbsp;&nbsp;&nbsp; <button type="reset" value="Reset" class="btn btn-warninuug" (click)="resetPage()">clear</button>
					   &nbsp;&nbsp;&nbsp; <a (click)="forgotans()">Forgot Answers</a>
					   
				  </div>
			 </div>	
		
	</div>
	
	
	
		<div *ngIf="showAdminDetails"  class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title text-center">
					<b> Admin Details </b>
				</h3>
			</div>
			<div class="panel-body">
<p> <sup style="color: red; font-size: 15px; ">NOTE: For queries please contact any one of the Admins.</sup> </p>
				<p-dataTable #report [value]="AdminDetails" [rows]="10"
						[paginator]="true" 
						[responsive]="true" dragdrop="true"
						[headerCheckboxToggleAllPages]="true" dataKey="id"
						[rowsPerPageOptions]="[10,25,50,100]" [resizableColumns]="true"
						[reorderableColumns]="true" [loading]="loading" exportFilename="NotReported" [style]="{'overflow': 'visible'}"> 
					<p-header>
					<div style="text-align: left">
						<p-multiSelect [options]="cities" [(ngModel)]="selectedCities" (onChange)="selecteddisplay()"></p-multiSelect>
					</div>
					</p-header> <p-column *ngFor="let col of selectedVisibleClaimColumn" [field]="col.field"
						[header]="col.header" [filter]="true" filterMatchMode="contains" [sortable]="true">
						</p-column>
					</p-dataTable>
					<br>
					<button type="submit" name="submit" class="btn btn-info" (click)="back()" value="Logout">Back</button>
			</div>

		</div>
	
	</div>
              
              
     
               






