<div class="container-fluid">
<div class="container">

       <div class="panel panel-warning">
                <div class="panel-heading">
                        <h3 class="panel-title text-center"><b> Add Resource </b></h3>
                </div>
                <div class="panel-body">
               <form (ngSubmit)="onSubmit()" #f="ngForm">
                        <p-messages [(value)]="msgs"></p-messages>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                             <label for="employeeName">Employee Name<sup style="color: red;">*</sup>: </label><br> 
                                  <input type="text" autocomplete="off"
                                  class="form-control" id="eName" required  pattern="[a-zA-Z][a-zA-Z ]+"
                               [(ngModel)]="employeeName" name="employeeName"  #eName="ngModel">
                    <div [hidden]="!eName.hasError('pattern')"><small><b>Enter a valid name</b></small></div> 
                        </div>    
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <label for="nickName">Nick Name <sup style="color: red;">*</sup>:</label><br>
                                  <input type="text" autocomplete="off"
                                  class="form-control" id="nicname" required  pattern="[a-zA-Z]+"  maxlength="12" minlength="1"
                                  [(ngModel)]="nickName" name="nickName" #nicname="ngModel">
                    <div [hidden]="!nicname.hasError('pattern')"><small><b>Enter a valid Nick name</b></small></div>
               </div>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<label for="employeeId">Employee Id <sup style="color: red;">*</sup>:</label><br>
					<input type="text" autocomplete="off"
					 class="form-control"id="empid" required  pattern="[0-9]*" maxlength="8"
				    [(ngModel)]="employeeId" name="employeeId" #empid="ngModel">
					<div [hidden]="!empid.hasError('pattern')"><small><b>Enter a valid EmployeeId</b></small></div>	
			   </div>
                     <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <label for="designation">Designation<sup style="color: red;">*</sup>:</label><br>
                              <select class="form-control"  id="desg"  name="designation" [(ngModel)]="designation" #desg="ngModel" required>
                             <option value="null"></option>
                              <option value="Application Development Associate">Application Development Associate</option>
                              <option value="Software Analyst">Software Analyst</option>
                              <option value="Software Senior Analyst">Software Senior Analyst</option>
                              <option value="Team Lead">Team Lead</option>
                              <option value="Associate Manager">Associate Manager</option>
                              <option value="Manager">Manager</option>
                              <option value="SeniorManager">Senior Manager</option>
                              </select><br>
               </div>
               </div>
                
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              
              <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                               <label for="skills">Skills<sup style="color: red;">*</sup>: </label><br>
                               <input type="text" autocomplete="off"
                                id="skill" class="form-control"   name="skills" pattern="[a-zA-Z][a-zA-Z ]+"
                                  [(ngModel)]="skills" #skill="ngModel" required>
                                  <div [hidden]="!skill.hasError('pattern')"><small><b>Enter a valid Skill</b></small></div>
               </div>
              
              
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <label for="supervisorName">Supervisor Name<sup style="color: red;">*</sup>:</label><br>
                              <p-dropdown [options]="supervisorlist"  id="supervName"  name="supervisorName" [(ngModel)]="supervisorName" (ngModelChange)="supervisorname($event)" #supervName="ngModel" value="" filter="true"  [style]="{'width':'100%'}" ></p-dropdown>{{supervisorlist}}
               </div>
                </div>
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               
               <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <label for="isAdminPreference">Admin Preference<sup style="color: red;">*</sup>:</label><br>
                              <select class="form-control"  id="admin"  name="isAdmin" [(ngModel)]="isAdmin" #admin="ngModel" required>
                              <option value="null"></option>
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                              </select><br>
               </div>
               
               <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <label for="isSupervisorPreference">Supervisor Preference<sup style="color: red;">*</sup>:</label><br>
                              <select class="form-control"  id="supervisor"  name="isSupervisor" [(ngModel)]="isSupervisor" #supervisor="ngModel" required>
                              <option value="null"></option>
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                              </select><br>
               </div>
               </div>

               <!--  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               
               <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <label for="email">Email Id<sup style="color: red;">*</sup>:</label><br> 
                              <input type="text" autocomplete="off"
                               class="form-control" id="email" name="emailId"
                              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
                              [(ngModel)]="emailId" #email="ngModel" required>
                   <div [hidden]="!email.hasError('pattern')"><small><b>Email format should be sts@accenture.com</b></small></div>
               </div>
               
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                               <label for="contact">Contact Number<sup style="color: red;">*</sup>: </label><br>
                               <input type="tel" autocomplete="off"
                                id="cont" class="form-control"   name="contactNumber" pattern="[0-9]*" maxlength="10"
                                  [(ngModel)]="contactNumber" #cont="ngModel" required>
                                  <div [hidden]="!cont.hasError('pattern')"><small><b>Enter a valid Contact Number</b></small></div>
               </div>
               </div> -->
               
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                           <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <label for="role" class="control-label">Role Preference<sup style="color: red;">*</sup>:</label><br> 
                              <select class="form-control" id="rolepreference" name="role" [(ngModel)]="role"  #rolepreference="ngModel" required>
                              <option value="null"></option>
                              <option value="Tester">Tester</option>
                              <option value="Developer">Developer</option>
                              <option value="Business Analyst">Business Analyst</option>
                              </select><br>
              </div>
              <br>
              <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <button type="submit" class="btn btn-success" [disabled]="!f.valid" (click)="addemployee(f.value);f.reset()" routerLinkActive="active">Submit</button>
                              &nbsp;&nbsp;&nbsp; <input type="reset" value="Clear" class="btn btn-warning" (click)="clear()" />
                       </div>
                       </div>
                       </div>
                       </form>
              </div>      
         </div>

</div>
